body{
    background: lightblue;
    padding: 10px;
    border-radius: 10px;
  }
  input[type=text], select{
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      box-sizing: border-box;
      border: none;
      border-bottom: 1px solid brown;
    }
    input[type=text]:focus {
      border-bottom: 1px solid rgb(34, 228, 16);
    }
  