<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div class="data" *ngIf="task">
        <h2>Details of : {{ task.title | titlecase }}</h2>
        <h4>Date : {{task.date | date:'mediumDate'}}</h4>
        <h4>Description : {{task.description | titlecase}}</h4>
    </div>

</body>

</html>