.title{
    text-align:center;
    color: navy;
    padding: 10px;
}
.one{
    padding: 5px;
    margin: 10px;
    width: 50px;
}

.two{
    padding: 5px;
    margin:10px;
    width: 50px;
}
.home{
    margin-left: auto;
    margin-top: -60px;
    display: flex;
    flex-direction: row-reverse;
}