<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>doc</title>
</head>

<body>
  <h2>Task Form</h2>
  <div class="container">
    <form class="row" #taskDetails="ngForm" (ngSubmit)="onClickSubmit(taskDetails.value)">

      <div class="form-group col-md-12">
        <label>Task-Title</label>
        <input type="text" #V_title="ngModel" required class="form-control" [class.is-invalid]="V_title.invalid && V_title  .touched"
          name="title" [(ngModel)]="title">
        <small class="text-danger" [class.d-none]="V_title.valid || V_title.untouched">Title is required</small>
      </div>

      <div class="form-group col-md-12">
        <label>Date</label>
        <input type="date" #v_date="ngModel" required class="form-control" [class.is-invalid]="v_date.invalid && v_date.touched"
          name="date" [(ngModel)]="date">
        <small class="text-danger" [class.d-none]="v_date.valid || v_date.untouched">Date is required</small>
      </div>

      <div class="form-group col-md-12">
        <label>Description</label>
        <input type="text" #v_description="ngModel" required class="form-control" [class.is-invalid]="v_description.invalid && v_description.touched"
          name="description" [(ngModel)]="description">
        <small class="text-danger" [class.d-none]="v_description.valid || v_description.untouched">Name is required</small>
      </div>


      <input class="btn btn-success" [disabled]="taskDetails.form.invalid" type="submit" value="submit">
    </form>
  </div>

</body>

</html>