body{
    background-color: grey;
    min-height: 550px;
    border-radius: 20px;
  }
  h2{
    padding: 10px;
    display: flex;
    justify-content: center;
    color: yellow;
  }
  h3{
    padding: 30px;
    margin: auto;
  }
  .onerow{
    background:white;
    margin: 20px;
    border-radius: 10px;
  }
  .data{
    display: flex;
    justify-content: left;
    min-width: 100%;
    padding: 20px;
  }
  .data span, .butt{
    padding-right: 20px;
    padding-left:20px;
  }
  .data:hover {
    background: rgb(209, 200, 200);
    border-radius: 20px;
  }
  .data span:hover{
    color: red;
    cursor: pointer;
  }
  
  .container{
      min-height: 550px;
      border-radius: 20px;
      background: grey;
  }
  button{
    cursor: pointer;
  }
  .butt1{
    position: absolute;
    margin-left: 60%;
  }
  .butt2{
    position: absolute;
    margin-left: 70%;
  }
  .detail{
    margin-left: 20px;
    width : 50%;
    text-align: center;
  }
  .index {
    background: green;
    border-radius: 20px;
  }
  div .detail:hover{
    color: navy;
    cursor: pointer;
  }