<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div class="container">
        <div *ngIf="tasks.length ; else noData" class="all">

            <h2>List of Tasks</h2>
            <div class="onerow">
                <div class="data" *ngFor="let task of tasks; index as i; let index=index" on-mouseover="hovered=index">
                    <span class="index">{{i+1}}</span>
                    <div (click)="detail(task.id)" class="detail">{{task.title | titlecase}}</div>
                    <span *ngIf="index==hovered" class="butt1"><i (click)="edit(task.id)" class="fa fa-pencil-square-o"
                            aria-hidden="true"></i> </span>
                    <span *ngIf="index==hovered" class="butt2"><i (click)="delete(task.id, i)" class="fa fa-trash-o"
                            aria-hidden="true"></i> </span>
                </div>
            </div>

        </div>
        <ng-template #noData class="container hide">
            <h3> <span><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                </span> you have no tasks to show please add task to show here...!!</h3>
            <button class="btn btn-primary" routerLink="/add">Add</button>
        </ng-template>
    </div>

</body>

</html>